.container {
    width: 60%;
    height: 0 auto;
    background-color: rgb(227, 245, 245);
    align-content: center;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 100px; 
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
 
}

body {
    background-image: url("Images/fundo2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

h1 {

  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
    font-weight: bold;
   color: #7900ac;
   text-shadow: 2px 2px 1px black;
    text-align: :left;
    padding-left: 80px;
    font-size: 32px;
}

.dados {
    text-align: center;
    font-size: 1rem;

}

h2 {

    background-color: rgb(207, 169, 241);
    text-align: left;
    padding-left: 100px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
      font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
  
   text-shadow: 2px 2px 1px #515151;
 
}

.formacao {
    margin-left: 25%;
    font-weight: bold;
   
}



ul li { 

 margin-left: 20%;
 text-align: justify;
 width: 60%;
 font-size: 1rem;
}

.comeco {
    text-align: left;
    padding-left: 100px;
}

.cargo {
    font-weight: bold;
    margin-left: 25%;
}

.curso {
    align-items: center;
}

p {
   font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.circulo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  float: right;
  margin-top: -80px;
  margin-right: 60px;
}